@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
.header {
  z-index: 0;
  width: 100%;
  height: 40vw;
  overflow: hidden;
  position: relative;
  top: -75px;
}

.slideshow {
  margin: 0 auto;
  position: absolute;
  transition: ease-in-out 1s;
  z-index: -5;
}

.slideshowSlider {
  white-space: nowrap;
  display: flex;
}

.image_wrapper {
  display: block;
  width: 100vw;
  height: 100%;
  position: relative;
}
.image_wrapper img {
  width: 100vw;
  height: 50vw;
}

/*Slide Buttons */
.slideshowDots {
  width: 25vw;
  right: 37.5vw;
  left: 37.5vw;
  position: absolute;
  top: 80vh;
  z-index: 12;
  display: flex;
}

.slideshowDot {
  display: inline-block;
  width: 1vw;
  height: 2vh;
  border-radius: 50px;
  margin: 10px 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.slideshowDot:hover {
  background-color: rgba(95, 95, 95, 0.7176470588);
}

.slideshowDot.active {
  background-color: rgba(95, 95, 95, 0.7176470588);
}

.MuiSlider-colorPrimary {
  color: rgba(112, 112, 112, 0.3764705882);
}

.MuiSlider-thumb {
  color: white;
  border: solid #707070 1px;
}